# ============================
# Traefik Production Settings
# ============================

deployment:
  replicas: 1
podSecurityContext:
  fsGroup: 65534
#service:
#  type: LoadBalancer

# ----------------------------
# EntryPoints / Ports
# ----------------------------
ports:

  web:
    port: 80
    expose:
      default: true
    protocol: TCP
    http:
      redirections: {}
  web2:
    port: 8000
    expose:
      default: true
    protocol: TCP
    http:
      redirections: {}
  web3:
    port: 8443
    expose:
      default: true
    protocol: TCP

  websecure:
    port: 443
    expose:
      default: true
    protocol: TCP
    # tls:
    #   enabled: true

  tcp-postgres:
    # If you need to access Postgres databsase from outside the cluster,
    port: 5432
    expose:
      default: true
    protocol: TCP
# ----------------------------
# Providers
# ----------------------------
providers:
  kubernetesIngress:
    enabled: true
  kubernetesGateway:
    enabled: true

  kubernetesCRD:
    enabled: true
    allowCrossNamespace: true
    # ----------------------------
    # Persistent Certificate Storage
    # ----------------------------
persistence:
  enabled: true
  path: /data
  size: 10Gi
  accessMode: ReadWriteMany # safer unless your storage supports RWX

# ----------------------------
# Logging
# ----------------------------
logs:
  general:
    level: INFO
  access:
    enabled: true

# ----------------------------
# Metrics (Prometheus)
# ----------------------------
metrics:
  prometheus:
    enabled: true

# ----------------------------
# Resources
# ----------------------------
resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi
# ----------------------------
# If you need to access Traefik dashboard,
# uncomment the following lines.
# ----------------------------
api:
  dashboard: true # enables dashboard internally

extraObjects:
- apiVersion: v1
  kind: Secret
  metadata:
    name: dashboard-auth-secret
    namespace: traefik
  type: kubernetes.io/basic-auth
  stringData:
    username: admin
    password: "P@ssw0rd"

- apiVersion: traefik.io/v1alpha1
  kind: Middleware
  metadata:
    name: dashboard-auth
    namespace: traefik
  spec:
    basicAuth:
      secret: dashboard-auth-secret

ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`dashboard.anaeleboo.com`)
    entryPoints:
    - websecure
    middlewares:
    - name: dashboard-auth
    tls:
      secretName: dashboard-anaeleboo-com-tls

gateway:
  enabled: true
