apiVersion: traefik.io/v1alpha1
kind: IngressRouteTCP
metadata:
  name: postgres-tcp-route
  
spec:
  entryPoints:
    - tcp-postgres
  routes:
    - match: HostSNI(`*`)
      middlewares:
        - name: postgres-ip-whitelist
          namespace: db
      services:
        - name: {{ include "postgres-cluster.fullname" . }}-db-primary 
          namespace: db
          port: 5432
  tls:
    passthrough: true